manifest {
  description = 'Flujo de trabajo para filtrar, remover secuencias hospedador y calcular abundancias relativas en microbiota usando datos shotgun'
  version = '1.0'
}

params {
    input = "inputs/test/*_{1,2}.fastq.gz"
    outdir = "./results"
    host_index_dir = "gs://pueba_jfm/ref/GRCh38_noalt_as/"
    host_index_prefix = "${params.host_index_dir}/GRCh38_noalt_as"
    metaphlan_db_path = "$PWD/inputs/ref/metaphlan"
}

profiles {

    standard {
        process.executor = 'local'
        docker.enabled = false
    }

    docker_profile {
        docker.enabled = true
        
        params {
            metaphlan_db_path = "/opt/db/metaphlan"
        }

        process {
            withName: 'FILTRADO_QC'       { container = 'img_qc' }
            withName: 'REMOCION_HOSPEDADOR' { container = 'img_remhosp' }
            withName: 'METAPHLAN3'       { container = 'img_metaphlan' }
        }
    }

		google {
        process {
            executor = 'google-batch'
            
            withName: 'FILTRADO_QC' {
                container = 'ruta/a/img_qc:latest'
                cpus = 4
                memory = "32 GB" //configurar como quiera cpus y memoria
            }
            withName: 'REMOCION_HOSPEDADOR' {
                container = 'ruta/a/img_remhosp:latest'
                cpus = 4
                memory = "32 GB" //configurar como quiera cpus y memoria
            }
            withName: 'METAPHLAN3' {
                container = 'ruta/a/img_metaphlan:latest'
                cpus = 4
                memory = "32 GB" //configurar como quiera cpus y memoria
            }
        }

        google {
            project = 'id de proyecto'
            location = 'us-central1' //configurar como quiera  
        }

        params {
            metaphlan_db_path = "/opt/db/metaphlan"
        }
    }
}
