manifest {
  description = 'Flujo de trabajo para filtrar, remover secuencias hospedador y calcular abundancias relativas en microbiota usando datos shotgun'
  version = '1.0'
}

// Configuración por defecto
params {
input = "inputs/test/*_{1,2}.fastq.gz"
outdir = "./results"
host_index_dir = "inputs/ref/GRCh38_noalt_as/GRCh38_noalt_as"
host_index_prefix = "${params.host_index_dir}/GRCh38_noalt_as"
metaphlan_db_path = "$PWD/inputs/ref/metaphlan"
}

// Perfiles para diferentes entornos de ejecución
profiles {
  // Perfil por defecto (ejecución local)
  standard {
    process.executor = 'local'
    docker.enabled = false
    params {
        metaphlan_db_path = "$PWD/inputs/ref/metaphlan"
    }
  }
  docker_profile {
        // Habilitar Docker
        docker {
            enabled = true
        }
        params{
            metaphlan_db_path = "/opt/db/metaphlan"
        }
        
        // Configuración específica por proceso
        process {
            
            // Procesos específicos con sus imágenes
            withName: 'FILTRADO_QC' {
                container = 'img_qc'
            }
            
            withName: 'REMOCION_HOSPEDADOR' {
                container = 'img_remhosp'
            }
            
            withName: 'METAPHLAN3' {
                container = 'img_metaphlan'
            }
        }
    }
}





// nextflow.config
docker.enabled = true